#app{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    text-align: center;
    color: #2c3350;
    margin-top: 60px;
    padding: 0 10%
}

.signout{
    position: absolute;
    text-align: right;
    top: 60px;
    right: 40px;
}

.form{
    padding: 0 10%;
}

.event-card{
    border: 2px solid lightseagreen;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}
